.navBar {
  display: flex;
  font-size: 2.4rem;
  text-align: center;
  justify-content: center;
  margin-top: 2.5rem;

  .linksection {
    margin-left: auto;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    .navlinks {
      display: flex;
      flex-direction: row;
      margin-right: 5rem;

      li {
        display: inline-block;
        padding: 1rem 2rem;
      }
    }
    .hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      .hamwrapper {
        display: flex;
        flex-direction: column;
        width: 3.5rem;
        height: 2.5rem;
        justify-content: space-evenly;

        span {
          display: inline-block;
          width: 100%;
          height: 0.2rem;
          border-radius: 4rem;
          background-color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: 554px) {
  .linksection {
    .navlinks {
      display: none !important;
    }
  }
}
