.bluetext {
  color: #7891e9;
}
.topSection {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;

  div {
    width: 100%;
  }
}
.wrapper {
  display: flex;
  width: 100%;
}
.heading {
  // font-size: 5.4rem;
  font-style: normal;
  font-weight: normal;
  // max-width: 50rem;

  line-height: 98.6%;
  vertical-align: middle;
  margin: 0;
  justify-self: start;
  /* or 109px */

  letter-spacing: -0.07em;
  span {
    display: inline-block;
  }
  & > span {
    width: 100%;
  }
}
.btnPrimary {
  // width: 20rem;
  padding: 1.5rem 5rem;
  background-color: #4259a9;
  font-size: 1.4rem;
  color: white;
  border: none;
  border-radius: 4rem;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
  transition: all 0.2s ease-in;

  &:hover {
    cursor: hand;
    transform: translateY(-4px);
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  }
}
.marginTop {
  margin-top: 3rem;
}

.sectionImg {
  max-width: 400px;
}

// Media Queries

// max-width: 320px
@media only screen and (max-width: 319px) {
  .sectionImg {
    display: none;
  }
  .heading {
    font-size: 4.1rem;
  }
}

// 480px
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .heading {
    font-size: 4.1rem;
  }
  .sectionImg {
    display: none;
  }
}

// 760px
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .heading {
    font-size: clamp(3rem, 5vw, 4rem);
  }
  .btnPrimary {
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }
}

// 1024px
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .heading {
    font-size: clamp(4rem, 5vw, 6rem);
  }
}

// 1200px
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .heading {
    font-size: clamp(4rem, 5vw, 6rem);
  }
}

// 1201 - up
@media only screen and (min-width: 1201px) {
  .heading {
    font-size: clamp(6rem, 5vw, 7rem);
  }
}

// Media Queries

// max-width: 320px
// @media only screen and (max-width: 319px) {
// }

// // 480px
// @media only screen and (min-width: 320px) and (max-width: 480px) {
// }

// // 760px
// @media only screen and (min-width: 481px) and (max-width: 768px) {
// }

// // 1024px
// @media only screen and (min-width: 769px) and (max-width: 1024px) {
// }

// // 1200px
// @media only screen and (min-width: 1025px) and (max-width: 1200px) {
// }

// // 1201 - up
// @media only screen and (min-width: 1201px) {
// }
