.cardContainer {
  max-width: 38rem;
  .imgWrapper {
    width: 100%;
    max-height: 23rem;
    margin: 0 auto;
    color: red;
    overflow: hidden;
    border-radius: 5px;
  }
  .tagContainer {
    display: flex;
    font-size: 2rem;
    margin-top: 2rem;
    .tag {
      padding: 0.6rem 3rem;
      border-radius: 60px;
      background-color: #f4f4f4;
      margin-right: 2rem;
    }
    .active {
      background-color: #000000;
      color: #fff;
    }
  }
  .title {
    font-size: 2.2rem;
    margin-top: 2.5rem;
  }
}
