
.summarySection {
  background-color: #000;
  position: relative;
  color: #fff;
}

.summarySection h2 {
  font-size: 5.4rem;
}

.summarySection h2 span {
  display: block;
}

.summarySection::before {
  content: '';
  width: 125%;
  height: 110%;
  margin-left: -12.5%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
.underline{
  text-decoration-line: underline;
font-family: Averta CY;
font-style: normal;
font-weight: 300;
font-size: 50px;
letter-spacing: -0.07em;
display: inline-flex;
}
.insideSummary{
padding-top: 0.8rem;
font-family: Averta CY;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 92.6%;
letter-spacing: -0.07em;
margin-top: 1.5rem;
display: inline-flex;
}
.email{
  margin-top:1.5rem;
font-family: Averta CY;
font-style: normal;
font-weight: normal;
font-size: 20px;
}
.address{
  font-family: Averta CY;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 128%;
letter-spacing: -0.03em;
text-transform: capitalize;
color: #9F9F9F;
margin-top: 1.5rem;
}
.ppolicy{
  font-family: Averta CY;
font-style: normal;
font-weight: normal;
font-size: 15px;
margin-top: 1rem;
}
.innerlink{
  display: inline-flex;
  }
.links2{
  display: inline-flex;
}
.extralink{
margin-left: 50rem;
}
.fb{
font-family: Averta CY;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 128%;
display: flex;
align-items: center;
letter-spacing: -0.03em;
text-transform: capitalize;
color: #FFFFFF;
}
.linkedin{
  font-family: Averta CY;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #FFFFFF;  
  margin-left: 3rem;
}
.benahce{
  font-family: Averta CY;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #FFFFFF;  
  margin-left: 3rem;
}
.dribble{
  font-family: Averta CY;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #FFFFFF;  
}
.insta{
    font-family: Averta CY;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 128%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;  
    margin-left: 4.2rem;
  }
  .patreon{
    font-family: Averta CY;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 128%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;  
    margin-left: 2.7rem;
  }
@media only screen and (max-width: 319px) {
  .summarySection
  {
    font-size: 50px;   
  }
}
@media only screen and (max-width: 820px) 
{
  .summarySection::before{
    width: 310%;
  }
}
/*# sourceMappingURL=SummarySection.module.css.map */